:root {
  --bev-topbar:     #000000;
  --bev-ink:        #000000;
  --bev-ink-mid:    #ffffff;
  --bev-gold:       #ffffff;
  --bev-gold-lt:    #ffffff;
  --bev-cream:      #000000;
  --bev-cream-dk:   #F2EBE0;
  --bev-ash:        #ffffff;
  --bev-charcoal:   #ffffff;
  --font-display:   'Lato', sans-serif;
  --font-body:      'Lato', sans-serif;
}