---
import Layout from '../layouts/layout.astro';
import CarruselHero from '../components/carruselhero.astro';
import CarruselLibros from '../components/carrusellibros.astro';
import Autores from '../components/autores.astro';
---

<Layout title="Bajo el Volcán — Inicio">
  <CarruselHero />
  
  <section class="py-5">
      <CarruselLibros />
  </section>

  <section class="bev-section-dark py-5">
    <div class="container">
      <Autores />
    </div>
  </section>
</Layout>