---
import Layout from "../layouts/layout.astro";
import CarruselHero from "../components/carruselhero.astro";
import LibrosSeccion from "../components/libros/librosSeccion.astro";
import Autores from "../components/autores.astro";
import Premios from "../components/premios.astro";
---

<Layout
  title="Bajo el Volcán Editorial Literaria"
  description="Editorial literaria independiente. Descubre nuestro catálogo de novelas, cuentos y poesía de autores colombianos y latinoamericanos."
  image="/assets/img/ui/logo.webp"
>
  <main>
    <Premios />
    <CarruselHero />
    <LibrosSeccion />
    <Autores />
  </main>
</Layout>