---
import Layout from "../layouts/layout.astro";
import CarruselHero from "../components/carruselhero.astro";
import CarruselLibros from "../components/carrusellibros.astro";
import Autores from "../components/autores.astro";
import Modallibros from "../components/modallibros.astro";
import Premios from "../components/premios.astro";
---

<Layout title="Bajo el Volcán">
   <Premios/>
  <CarruselHero />

  <section class="py-5 bev-section-light">
    <div class="container">
      <div class="col-12 col-lg-12">
        <CarruselLibros />
      </div>
    </div>
    <section class="bev-section-dark py-5">
      <div class="container">
        <Autores />
      </div>
    </section>
  </section>
  <Modallibros />
</Layout>
