---
import Layout from "../layouts/layout.astro";
import CarruselHero from "../components/carruselhero.astro";
import CarruselLibros from "../components/carrusellibros.astro";
import Autores from "../components/autores.astro";
import Modallibros from "../components/modallibros.astro";
import Premios from "../components/premios.astro";
---

<Layout title="Bajo el Volcán">
  <CarruselHero />

  <Premios />

  <section class="py-5 bev-section-light">
    <CarruselLibros />
  </section>

  <Autores />

  <Modallibros />
</Layout>
