---
---
<!-- Botón catálogo -->
<div class="text-center mt-5">
  <a href="pages/catalogo.astro" class="btn bev-btn-dark">
    Ver catálogo completo <i class="bi bi-arrow-right ms-1"></i>
  </a>
</div>
