 <!-- Categorías + Carrusel -->
    <div class="row g-4">
      <!-- Columna izquierda: categorías -->
      <div class="col-12 col-lg-2">
        <div class="bev-categorias">
          <p class="bev-categorias-titulo">CATEGORÍAS</p>
          <ul class="bev-categorias-lista" id="listaCategorias">
            <li class="bev-categoria-item activo" data-categoria="todos">
              Todos
            </li>
            <li class="bev-categoria-item" data-categoria="nuevo">Nuevos</li>
            <li class="bev-categoria-item" data-categoria="destacado">
              Destacados
            </li>
            <li class="bev-categoria-item" data-categoria="preventa">
              Preventa
            </li>
            <li class="bev-categoria-item" data-categoria="Misterio">
              Misterio
            </li>
            <li class="bev-categoria-item" data-categoria="Romance">Romance</li>
            <li class="bev-categoria-item" data-categoria="Novela">Novela</li>
            <li class="bev-categoria-item" data-categoria="Filosofia">
              Filosofía
            </li>
            <li class="bev-categoria-item" data-categoria="Crimen">Crimen</li>
          </ul>
        </div>
      </div>
